body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: #f4f4f4;
}

#site-header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#site-header nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

#projects-content {
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
}

#project-one, #project-two, #project-three {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#site-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
}
